@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variable' as*;

.video__player {
    position: relative; 
    width: 100%;
    height: 50%;

    &--video {
        width: 100%;
        background-color: $secondary_color_brainflix ;

        @include tablet {
            @include setPadding_tablet();
        }

        @include desktop {
            padding: 0 9rem;
        }
    }

    &--buttonCont {
        &__button {
            height: 9px;

            @include tablet {
                border-radius: 4px;
                height: 12px;
            }
        }
    }

    &--controls {
        position: absolute;
        bottom: 6%;
        left: 4%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 2px;
        color: $primary_background_color;
        gap: .2rem;
        display: flex;
        align-items: center;

        @include tablet {
            width: 90%;
            bottom: 4%;
            gap: .5rem;
        }
        @include desktop{
            width: 75%;
            left: 12%
        }
    }

    &--background {
        cursor: pointer;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        height: 1.5rem;
        width: 2rem;
        padding: 0 .5rem;

        @include tablet {
            height: 2.5rem;
            width: 3rem;
            padding: 0 1rem;
        }
    }

    &--scrubCont {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: .2rem;

        @include tablet {
            gap: 1rem;
        }

        &__scrubber {
            flex: 1;
            display: flex;
            align-self: center;
            overflow: hidden;
            background-color: black;
            height: 5px;
        }

        &__time {
            margin: 0;
            align-items: center;
            display: flex;
            font-size: 9px;
            padding: .4rem 0;

            @include tablet {
                font-size: 12px;
                padding: .8rem 0;
            }
        }
    }

    &--volumeCont {
        display: flex;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        height: 1.5rem;

        @include tablet {
            height: 2.5rem;
        }

        &__button {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            padding: 0 0.5rem;
        }
    }

    &--togglebutton {
        display: flex;
        align-items: center;
        height: 11px;

        @include tablet {
            height: 14px;
        }
    }

}