@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variable' as*;


.video__player{
    padding: 1rem 0;
    @include tablet{
        padding: 2rem 0;
    }

    &--image {
        width: 100%;
        background-color:$secondary_color_brainflix ;
        @include tablet{
            @include setPadding_tablet();
        }
        @include desktop{
            @include setPadding_desktop();
        }
    
    }
}