$primary_color_brainflix :#323232;
$secondary_color_brainflix : #000000;
$primary_color_button: #0095FF;
$secondary_color_button: #0065AD;
$secondary_text_color: #AFAFAF;
$primary_background_color :#FFFFFF;
$divider_color: #E1E1E1;
$form_background_color :#FAFAFA;
$form_error_color: #D22D2D;