@use '../../styles/partials/variable' as*;
@use '../../styles/partials/mixins' as*;

.comment__user {
    display: flex;
    font-size: 0.9rem;
    border-top: 1px solid $divider_color;
    padding: 1rem 0;

    @include desktop {
        padding-right: 2rem;
    }

    &--image-cont {
        padding-right: 1rem;
    }

    &--image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $divider_color;
    }

    &--comment-cont {
        max-width: 100%;
        overflow: hidden;
        word-wrap: break-word;
    }

    &--comment {
        margin: 0;
        line-height: 20px;
        font-size: 13px;

        @include tablet{
            font-size: 15px;
        }
    }

    &--name-cont {
        display: flex;
    }

    &--name {
        width: 50%;
        font-weight: 900;
        font-family: 'Avenir Next LT Pro-Demi';
    }

    &--date {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        color: $secondary_text_color;
    }

    &--button-cont{
        display: flex;
        flex-direction: row-reverse;
    }
    &--button{
        cursor: pointer;
        color: $primary_background_color;
        background-color: $primary_color_button;
        border: none;
        height: 2rem;
        width: 6rem;

        &:hover{
            background-color: $secondary_color_button;
        }
    }
}