@use '../../styles/partials/variable' as*;
@use '../../styles/partials/mixins' as*;

.comment__user {
        display: flex;
        font-size: 0.9rem;
        // border-top: 1px solid #E1E1E1;
        padding: 1rem 0;
        border-bottom: 1px solid $divider_color;
        @include desktop{
            padding-right: 2rem;
        }
    
    &--image-cont {
        padding-right: 1rem;
    }
    &--image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $divider_color;
    }
    &--comment-cont {
        max-width: 100%;
        overflow: hidden;
        word-wrap: break-word;
    }

    &--name-cont {
        display: flex;
    }

    &--name {
        width: 50%;
        font-weight: 900;
    }

    &--date {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        color: $secondary_text_color;
    }
}
