@use '../../styles/partials/variable' as*;
@use '../../styles/partials/mixins' as*;

.form__comments-title {
    font-family: "Avenir Next LT Pro-Bold"
}

.form__comments {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $divider_color;

    @include desktop {
        padding: 1rem 1rem;
    }

    &--userImage {
        position: relative;
        top: 1rem;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        background-color: $divider_color;

        @include tablet {
            width: 40px;
            height: 40px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    &--userinput {
        flex: 1;

        @include tablet {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &--input {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex: 1;
        }
    }

    &--label {
        text-transform: uppercase;
        color: $secondary_text_color;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: .5rem;
    }

    &--input-box {
        border-color: $divider_color;
        outline: none;
        border-radius: 4px;
        border-style: solid;
        padding: 0.75rem;
        background-color: $form_background_color ;

        @include tablet {
            width: 90%;
            height: 3rem;
        }

        &:focus {
            border: 2px solid $primary_color_button;

        }
    }

    &--button {
        padding-top: 1rem;

        @include tablet {
            width: 30%;
        }
    }

    &--button-item {
        text-transform: uppercase;
        cursor: pointer;
        color: $primary_background_color;
        background-color: $primary_color_button;
        border: none;
        width: 100%;
        background-image: url('../../assets/images/icons/add_comment.svg');
        background-repeat: no-repeat;
        height: 45px;
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: (0.5rem 0.5rem);
        font-size: 12px;

        @include tablet {
            font-size: 14px;
            ;
        }

        &:hover {
            background-color: $secondary_color_button;
        }
    }
}

::placeholder {
    color: $primary_color_brainflix;
}
