@use './styles/partials/mixins' as*;
@use './styles/partials/variable' as*;
@use './styles//partials/resets' as *;

header {
  display: flex;
  padding-top: 1rem;
}

.video-information{
  @include setPadding();

  @include tablet{
    @include setPadding_tablet();
  }
  @include desktop{
    @include setPadding_desktop();
    display: flex;

  }
  &__comments{
    @include desktop{
      width: 70%;
      border-right: 1px solid $divider_color;
    }
  }
  &__next-video{
    @include desktop{
    padding-left: 1rem;
    }
  }
}