@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variable' as*;
@use '../../styles/partials/typography' as*;

.video {

    &__title {
        font-family: 'Avenir Next LT Pro-Bold';
        font-size: 24px;
        line-height: 32px;
        padding: 24px 0 16px 0;

        @include tablet {
            font-size: 33px;
            line-height: 44px;
            padding: 36px 0 0;
        }
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        border-bottom: 1px solid $divider_color;
        border-top: 1px solid $divider_color;

        @include tablet {
            border-top: none;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 2rem;
        }

        &--channel {
            font-family: 'Avenir Next LT Pro-Bold';
        }

        &--time {
            @include textSecondaryColor();
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        @include textSecondaryColor();

        @include tablet {
            flex: 1;
            justify-content: flex-end;
            flex-direction: row;
            gap: 2rem;
        }

        @include desktop {
            padding-right: 1rem;
        }

        &--icons {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 18px;

        @include tablet {
            font-size: 15px;
            line-height: 22px;
        }

        @include desktop {
            padding-right: 1rem;
        }
    }

}